/*
#screen {
	position: relative;
	width: 320px;
	height: 400px;
	background-color: black;
	border: 1px solid black;
}

#ytplayer {
	width: 320px;
	height: 180px;
}

#buttons {
	position: relative;
	margin-top: 5px;
	padding: 3px;
	cursor: hand;
}

.button {
	font-family: 'Noto Sans', sans-serif; font-weight: 700; 	
	font-size: 15px;
	background-color: white;
	border: 1px solid black;
	padding: 2px;
	
}

.button:hover {
	color: white;
	background-color: #00a2ff;
}

#data {
	position: relative;
	width: 100%;
	color: white;
	font-family: 'Noto Sans', sans-serif; font-weight: 400; 	
	padding: 3px;
}

.d {
	color: #00a2ff;
}

#searchResults{
	position: relative;
}

.video-result-wrapper{
	position: relative;
	border: 1px solid black;
	width: 320px;
	height: 75px;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 16px;
	


	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.video-result-wrapper:hover{
	background-color: rgba(0,162,255,0.7);
}

#playlist-wrapper{
	width: 320px;
border: 1px solid black;
}

#playlist-wrapper h2{
	
	text-align: center;
}



p {
	font-size: small;
	font-family: 'Noto Sans', sans-serif; font-weight: 400; 
	color: rgba(0,162,255,0.7);
		
}






.thumbnail {
	position: relative;
	top: 0px;
	left: 0px;
	height: 75px;
	float: left; 
}


h3 {
	font-size: medium;
	font-family: 'Noto Sans', sans-serif; font-weight: 400; 	
	
	
}

.search-title {
	font-size: 12px;
	font-family: 'Noto Sans', sans-serif; font-weight: 700; 		
}

.search-id {
	font-size: small;
	font-family: 'Noto Sans', sans-serif; font-weight: 400; 
	color: rgba(0,162,255,0.7);
		
}
*/
